.Table {
    &-Container {
        width: 500px;
	    height: 500px;
        position: relative;
        background-image: -moz-linear-gradient(45deg, #53f 25%, transparent 25%, transparent 75%, #53f 75%, #53f 100%), -moz-linear-gradient(45deg, #53f 25%, transparent 25%, transparent 75%, #53f 75%, #53f 100%);
        background-image: -webkit-linear-gradient(45deg, #53f 25%, transparent 25%, transparent 75%, #53f 75%, #53f 100%), -webkit-linear-gradient(45deg, #53f 25%, transparent 25%, transparent 75%, #53f 75%, #53f 100%);
        -moz-background-size: 200px 200px;
        background-size: 200px 200px;
        -webkit-background-size: 200px 200px;
        background-position: 0 0, 100px 100px;
        border: 5px solid #53f;
        margin: 0  auto 20px;

       
    }
}