body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Button {
  padding: 15px 20px;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  background-color: #53f;
  color: #fff;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  &-Black {
    background-color: #000;
  }
}